# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Data
*outs
*fpts
*wandb
temp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Experiment logs
scripts/data
scripts/log*
nohup.out

# Jupyter Notebook
.ipynb_checkpoints
nbs/

# IPython
profile_default/
ipython_config.py

# IDEs
.idea
.vscode

# MACOS
*.DS_Store
